<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.company.formulas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icone_redondo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.company.app.MainActivity" />
        <activity
            android:name="com.company.app.formulas.matematica.regra_tres" />
        <activity
            android:name="com.company.app.SplashActivity"
            android:theme="@style/JustTools" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.company.app.form_choose" />
        <activity
            android:name="com.company.app.configuracoes" />
        <activity android:name="com.company.app.formulas.matematica.area_q" />
        <activity android:name="com.company.app.formulas.matematica.area_t" />
        <activity android:name="com.company.app.formulas.matematica.comp_circulo" />
        <activity android:name="com.company.app.formulas.matematica.pitagoras" />
        <activity android:name="com.company.app.formulas.quimica.densidade" />
        <activity android:name="com.company.app.formulas.quimica.velocidade_media" />
        <activity android:name="com.company.app.formulas.quimica.variacao_entalpia" />
        <activity android:name="com.company.app.formulas.quimica.energia_ativacao" />
        <activity android:name="com.company.app.formulas.fisica.dilatacao_linear" />
        <activity android:name="com.company.app.formulas.fisica.velo_media" />
        <activity android:name="com.company.app.formulas.fisica.acel_media" />
        <activity android:name="com.company.app.formulas.fisica.equa_torricelli" />
        <activity android:name="com.company.app.formulas.fisica.equa_calorimetria" />
        <activity android:name="com.company.app.formulas.fisica.clapeyron" />
    </application>

</manifest>